{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Fifth Page</title>
</head>
<body>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css"href=" {% static 'home/myCSS.css' %} ">
	<header>
		<h1 class="judul">Saffanah Fausta Lamis</h1>
		{% block content %} {% endblock %}
		<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/36bb36de93894be9885e19ff59d70bbe?quality=95&fake=.png" height="35" width="1250">
	</header>
	{% include 'Header.html' %}
	<div class="background5">
		<h1 class="kontak">Kontak</h1>
		<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/8a008b52134143a3a897388ddcb0c249?quality=95&fake=.png" width="134.62px" height="134px" class="foto5A">
		<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/5d22ca6f78564cdca8963b3456b1d8c0?quality=95&fake=.png" class="foto5B" width="134.62px" height="134px" class="foto5B">
		<h2 class="posisiTeks5E">email : saffanahfl@gmail.com</h2>
		<h3 class="posisiTeks5A">Twitter : saffanahfl</h3>
		<h3 class="posisiTeks5B">Fb : Saffanah Fausta Lamis</h3>
		<h3 class="posisiTeks5C">Linkedin : -</h3>
		<h3 class="posisiTeks5D">Instagram : saffanahfl</h3>
	</div>
</body>
</html>