{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>First Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bgfoto">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css"href=" {% static 'home/myCSS.css' %} ">
	<header>
		<h1 class="judul">Saffanah Fausta Lamis</h1>
		{% block content %} {% endblock %}
	</header>
		{% include 'Header.html' %}
	<div>
		<div class="kolom2" style="text-align: center;">
			<br>
			<br>
			<img src="https://image.ibb.co/jQsNjz/IMG_20180630_091308.jpg" height="400" class="responsive">
		</div>
		<div class="kolom2">
			<br>
			<h2 class="teksjudul">Tentang</h2>
			<p class="teksparagraf">Nama saya Saffanah Fausta Lamis, saya biasa dipanggil
			dengan nama Saffa. Saya merupakan anak pertama dari 
			tiga bersaudara yang lahir pada tanggal 27 Juni 1999
			di Cilegon. Saat ini saya sedang menempuh pendidikan
			di Universitas Indonesia jurusan Sistem Informasi. 
			Selain menempuh pendidikan di Universitas Indonesia, 
			saya juga mengikuti beberapa kegiatan di fakultas. 
			Seperti kegiatan organisasi dan juga kepanitiaan.
			</p>
			<br>
			<p class="teksparagraf">
			Saya merupakan pribadi yang mudah menyesuaikan 
			diri terhadap lingkungan baru dan dapat berkomunikasi
			baik dengan orang - orang di sekitar saya.Saya memiliki 
			ketertarikan terhadap teknologi dan juga desain. Saya 
			juga merupakan orang yang tertarik pada hal - hal baru. 
			Dan saya juga merupakan orang yang  memiliki hobi 
			menonton dan jalan - jalan. 
			</p>
		</div>
	</div>
</body>
</html>