{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Jadwal Kegiatan</title>
</head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css"href=" {% static 'home/myCSS.css' %} ">
<body style="background: #F7F3BC">
	<header>
		<h1 class="judul">Saffanah Fausta Lamis</h1>
		{% block content %} {% endblock %}
		<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/36bb36de93894be9885e19ff59d70bbe?quality=95&fake=.png" height="35" width="1250">
	</header>
	{% include 'Header.html' %}
	<div style="margin: 5% 5%">
		<h2>Form jadwal</h2>
		<br>
		<div style="width: 70%">
			<form method="POST" action="{% url 'jadwalkegiatan' %}">
				{% csrf_token %}
				{{ jadwal_form.as_p }}
				<button type="submit" value="submit" class="btn btn-success">Submit</button>
			</form>
		</div>
	</div>
</body>
</html>