{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Fourth Page</title>
</head>
<body>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css"href=" {% static 'home/myCSS.css' %} ">
	<header>
		<h1 class="judul">Saffanah Fausta Lamis</h1>
		{% block content %} {% endblock %}
		<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/36bb36de93894be9885e19ff59d70bbe?quality=95&fake=.png" height="35" width="1250">
	</header>
	{% include 'Header.html' %}
	<div class="background4">
		<br>
		<br>
		<br>
		<br>
		<h1 class="judul" style="text-align: center;">HOBI/KEGEMARAN</h1>
		<br>
		<div class="container">
  			<div class="row">
    			<div class="col-sm">
    				<img src="https://image.ibb.co/cF5KWe/1.png" height="150" class="posisifotoA">
    				<br><br><br><br><br><br><br><br>
    				<h1 style="text-align: center;" class="teksjudul">Jalan - Jalan</h1>
	    			<p style="text-align: center;" class="teksparagraf1">Salah satu hobi saya adalah jalan-
					jalan, saya suka mengunjungi
					tempat-tempat baru. Seperti 
					berkunjung ke kota yang belum
					saya kunjungi sebelumnya, atau 
					berwisata bersama teman atau
					keluarga.</p>
    			</div>
    			<div class="col-sm">
      				<img src="https://image.ibb.co/eQUPxK/2.png" height="150" class="posisifotoB">
      				<br><br><br><br><br><br><br><br>
      				<h1 style="text-align: center; " class="teksjudul">Makanan</h1>
	      			<p style="text-align: center;" class="teksparagraf1">Saya sangat tertarik untuk mencoba
					makanan - makanan baru yang
					sebelumnya belum pernah saya coba.
					Saya biasa mencicipi menu - menu
					makanan baru bersama dengan
					teman -teman.</p>
    			</div>
    			<div class="col-sm">
      				<img src="https://image.ibb.co/bSFxHK/3.png" height="150" class="posisifotoC">
      				<br><br><br><br><br><br><br><br>
	      			<h1 style="text-align: center;" class="teksjudul">Laptop</h1>
	      			<p style="text-align: center;" class="teksparagraf1">Saya banyak meluangkan waktu saya
					bersama dengan laptop. Banyak hal
					yang dapat saya lakukan. Seperti
					mengetik, menonton video,
					coding, mendengarkan lagu, edit
					foto, atau berselancar di internet.</p>
    			</div>
  			</div>
		</div>
	</div>
</body>
</html>