{% load static %}
{% block content %}
<ul class="nav justify-content-end">
		  <li class="nav-item">
		    <a class="nav-link" href=".." id="teksnav">TENTANG</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="../kemampuan" id="teksnav">KEMAMPUAN</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="../hobi" id="teksnav">HOBI/KEGEMARAN</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="../kontak" id="teksnav">KONTAK</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="../register" id="teksnav">FORM</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="../formkegiatan" id="teksnav">REGISTER</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="../jadwal" id="teksnav">JADWAL</a>
		  </li>
		</ul>
{% endblock %}