{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css"href=" {% static 'home/myCSS.css' %} ">
<body class="background6">
	<header>
		<h1 class="judul">Saffanah Fausta Lamis</h1>
		{% block content %} {% endblock %}
	</header>
	{% include 'Header.html' %}
	<div class="form-size">
			<form>
				<div class="form-group">
				    <label for="exampleName">Name</label>
				    <input type="text" class="form-control" id="exampleName" placeholder="Name">
				</div>
				<div class="form-group">
				    <label for="exampleBirthDate">Birth Date</label>
				    <input type="date" class="form-control" id="exampleBirthDate" placeholder="BirthDate">
				</div>
				<div class="form-group">
				    <label for="exampleInputEmail1">Email address</label>
				    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
				    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>
				<div class="form-group">
				    <label for="exampleUsername">Username</label>
				    <input type="text" class="form-control" id="exampleUsername" placeholder="Username">
				</div>
			  	<div class="form-group">
				    <label for="exampleInputPassword1">Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
				    <label for="exampleInputPassword2">Repeat Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Repeat Password">
				</div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
	</div>
</body>
</html>