{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Rekap Jadwal</title>
</head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css"href=" {% static 'home/myCSS.css' %} ">
<body style="background: #F7F3BC">
	{% csrf_token %}
	<header>
		<h1 class="judul">Saffanah Fausta Lamis</h1>
		{% block content %} {% endblock %}
		<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/36bb36de93894be9885e19ff59d70bbe?quality=95&fake=.png" height="35" width="1250">
	</header>
	{% include 'Header.html' %}
	<div style="margin: 5% 5%">
		<h2>Rekap jadwal</h2>
		<a class="btn btn-warning" href="../hapus">DELETE ALL</a>
		<br>
		<br>
		<div style="width: 80%">
			<table class="table" border="#1F1E21" style="width: 100%">
				<tr bgcolor="#9EE49F">
					<th style="width: 10%">Hari</th>
					<th style="width: 18%">Tanggal</th>
					<th style="width: 12%">Jam</th>
					<th style="width: 30%">Kegiatan</th>
					<th style="width: 15%">Tempat</th>
					<th style="width: 15%">Kategori</th>
				</tr>
				{% for e in jadwals %}
					<tr bgcolor="#D3D1F7">
						<td>{{e.hari}}</td>
						<td>{{e.tanggal}}</td>
						<td>{{e.jam}}</td>
						<td>{{e.kegiatan}}</td>
						<td>{{e.tempat}}</td>
						<td>{{e.kategori}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</body>
</html>