{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Third Page</title>
</head>
<body>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css"href=" {% static 'home/myCSS.css' %} ">
	<header">
		<h1 class="judul">Saffanah Fausta Lamis</h1>
		{% block content %} {% endblock %}
		<div class="responsive">
			<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/36bb36de93894be9885e19ff59d70bbe?quality=95&fake=.png" height="35" width="1250">
		</div>
	</header>
	{% include 'Header.html' %}
	<div>
		<div class="kolom2">
			<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/dab8291b43ba46f0b2b9e8d1473a6788?quality=95&fake=.png" width="620" class="sizefoto">
			<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/f8ff2e41b12049f3800895bad7aa0c4b?quality=95&fake=.png" width="620" class="sizefoto">
		</div>
		<div class="kolom2">
			<div>
				<br>
				<h2 class="teksjudul">Kemampuan</h2>
				<br><br>
				<p class="teksparagraf">&ensp;&emsp;1. Pemrograman<p/>
				<p class="teksparagraf">&ensp;&emsp;2. Berbicara di depan publik (Public Speaking)<p/>
				<p class="teksparagraf">&ensp;&emsp;3. Leadership<p/>
				<p class="teksparagraf">&ensp;&emsp;4. Bekerja di dalam organisasi<p/>
				<p class="teksparagraf">&ensp;&emsp;5. Edit foto<p/>
			</div>
		</div>
	</div>
</body>
</html>