<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body background="https://cdn2.slidemodel.com/wp-content/uploads/7243-01-low-poly-background-16x9-1.jpg">
	<div align="center">
    	<h1>Hello!</h1>
    </div>
    <div>
    	<font color="black" size="4" style="font-family:courier;">
	   	<article>Nama : {{ name }}</article>
	    <article>NPM : {{ npm }}</article>
	    <article>Saya kuliah di {{ tempat_kuliah }}</article>
	    <article>Saya memiliki hobi {{ hobi }}</article>
	    <article>Deskripsi diri {{ deskripsi }}</article>
	    <br> <br> <br>
    	</font>
   	</div>
    <div style="text-align: center;">
    	<img src="http://www.about.tarung2017.com/foto/135.jpg" alt="Saffanah Fausta Lamis" width="650">
    </div>
    <div>
        <font color="black" size="4" style="font-family:courier;">
        <article>Teman yang ada di belakang saya adalah...</article>
        <article>Nama : Aulia Ramadhani</article>
        <article>NPM : 1706023290</article>
        <article>Kuliah di Universitas Indonesia</article>
        <article>Ia memiliki hobi nonton film dan berolahraga</article>
        <article>Deskripsi diri : orangnya senang berolahraga seperti basket, bulutangkis, dan lain sebagainya</article>
        <br> <br> <br>
        </font>
    </div>
    <div style="text-align: center;">
        <img src="http://www.about.tarung2017.com/foto/807.jpg" alt="Aulia Ramadhani" width="650">
    </div>
    <div>
        <font color="black" size="4" style="font-family:courier;">
        <article>Teman yang ada di depan saya adalah...</article>
        <article>Nama : Azzahra Putri Ramadhanty</article>
        <article>NPM : 170615225</article>
        <article>Kuliah di Universitas Indonesia</article>
        <article>Ia memiliki hobi mempelajari ppw</article>
        <article>Deskripsi diri : orangnya baik dan ramah.</article>
        <br> <br> <br>
        </font>
    </div>
    <div style="text-align: center;">
        <img src="http://www.about.tarung2017.com/foto/707.jpg" alt="Azzahra Putri Ramadhanty" width="650">
    </div>
</body>
</html>
